@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body{
	background-color: #000000;
	font-family: 'PT Sans', sans-serif;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}

h1{
	color : white; 
	font-size: 40px;
}

p{
	color : white; 
	font-size: 20px;
}
