@font-face{font-family: Jeannot; src: url(fonts/Jeannot.otf) format("opentype");}

body{
	margin: 9px;
	font-family: monospace;
	font-size: 15px;
	color: blue;
	word-break: break-all;
}

div{
	max-width: 282px;
}

.jeannot{
	font-family: Jeannot;
	font-size: 35px;
	background-color: yellow;
	padding: 9px;
	border: solid 2px;
}

[contenteditable]{
	outline: none;
}

button{
	color: blue;
	background-color: yellow;
	cursor: pointer;
	border: solid 1px;
	outline: none;
}

a{
	background-color: yellow;
	outline: 1px solid;
}

button:hover , a:hover{
	background-color: #db00ff;
}

button:visited , a:visited{
	color: inherit;
}

img{
	width: 100%;
}

@media screen and (max-width: 444px){
	div{
		max-width: 292px;
		position: relative;
		margin: auto;
	}
}