@font-face{font-family: Jeannot; src: url(fonts/Jeannot.otf) format("opentype");}
@font-face{font-family: Conjura; src: url(fonts/Conjura.otf) format("opentype");}
@font-face{font-family: KeeponTruckin; src: url(fonts/KeeponTruckin.ttf) format("truetype");}


body{
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	word-break: break-all;
	font-size: 30px;
	margin: 8px;
	background-color: #fbfbfb;
}

section{
	margin-top: 25px;
	margin-bottom: 50px;
}

p{
	margin: 0px;
}

img{
	float: left;
  height: 100px;
  margin-right: 22px;
  display: inline-block;
}

h1{
  font-family: KeeponTruckin;
  font-size: 110px;
	margin: 0px;
}

footer{
	font-size: 17px;
	margin-top: 150px;
}

.jeannot{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Jeannot;
	font-size: 62px;
	line-height: 50px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

::-moz-selection{
  color: white;
  background: red;
}

::selection{
  color: white;
  background: red;
}

/* LINKS */
section a{
	color: red;
  text-decoration-line: none;
  border-bottom: 1px solid red;
	line-height: 30px;
	font-size: 22px;
	font-family: Times, serif;
	font-style: italic;
	display: inline-block;
}

a:hover{
	color: transparent;
  text-shadow: 0 0 3px red;
}

a:visited{
	color: red;
}

/* JEAN */

.Jean{
	background-color: #aca8b4;
	color: #27ff00;
}

.Jean section a{
	color: #27ff00;
	border-bottom: 1px solid #27ff00;
}

.Jean a:hover{
	color: transparent;
  text-shadow: 0 0 3px #27ff00;
}

.Jean a:visited{
	color: #27ff00;
}

/* PFFFFRT */

.pffffrt{
	background-color: black;
	color: white;
}

.pffffrt section a{
	color: white;
	border-bottom: 1px solid white;
}

.pffffrt a:hover{
	color: transparent;
  text-shadow: 0 0 3px white;
}

.pffffrt a:visited{
	color: white;
}

/* LE MUR DES MALENTATIONS */

.lamentations{
	background-color: yellow;
	color: #0066be;
}

.lamentations section a{
	color: #0066be;
	border-bottom: 1px solid #0066be;
}

.lamentations a:hover{
	color: transparent;
  text-shadow: 0 0 3px #0066be;
}

.lamentations a:visited{
	color: #0066be;
}

.témoin{
	font-size: 16px;
	max-width: 1000px;
	border-bottom: 1px solid #0066be;
	padding-bottom: 30px;
}

.témoin p{
	margin-bottom: 16px;
}

/* PC */
@media screen and (min-width: 1000px){
	body{background-size: 30%;}
	div{display: inline-block; margin-right: 50px;}
}

/* Tablette */
@media screen and (min-width: 750px) and (max-width: 1000px){
	body{background-size: 50%;}
	div{display: inline-block; margin-right: 25px;}
}

/* Smartphone */
@media screen and (max-width: 750px){
	body{background-size: 80%;}
	div{display: block;}
}
