@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700,900');

div{
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;
	margin: auto;
}

header{
	margin-top: 20px;
}

p.preface{
	margin-bottom: 40px;
	font-weight: bolder;
}

nav{
	text-align: center;
	font-weight: bolder;
	margin-left : -40px;
	word-spacing: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

ul{
	padding-inline-start: 0px;
	padding-left: 0px;
}

nav li{
	list-style-type: none;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	color: red;
}

a:hover{
	cursor: url(library/cursor/pointer.cur), default;
}

footer{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

section{
	font-weight: normal;
	text-align: justify;
  margin-bottom: 40px;
}

.card{
width: 200px;
height: 75px;
background: url("library/logo_typo.png") no-repeat;
background-size: contain;
display: inline-block;
display: block;
margin-left: auto;
margin-right: auto;
}

.card:hover{
background-image: url("library/logo_typo_hover.png");
}

.intro{
	margin: 0;
	background: url("library/click_here.png") no-repeat;
	background-size: contain;
	display: inline-block;
	display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro:hover{
background-image: url("library/click_here_hover.png");
}

.exemple{
	width: 600px;
	margin: auto;
}

.edit{
	width: 100%;
	outline: none;
	font-family: none;
  font-weight: bolder;
  font-size: 45px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.edit:hover{
	color: black;
	cursor: url(library/cursor/text.cur), default;
}

@media screen and (min-width: 700px){
	.intro{width: 400px; height: 75px;}
	div{width:600px;}
	nav li{display: inline-block;}
}

@media screen and (max-width: 700px){
	.intro{width: 300px; height: 60px;}
	div{width:310px;}
}
