body{
	background-color: #000000;
	font-family: roboto, sans-serif;
	width: 450px;
	margin-right: auto;
	margin-left: auto;
}

h1{
	color : white; 
	font-size: 40px;
}

p{
	color : white; 
	font-size: 20px;
}
