/* GENERAL */

html {width: 100%; margin: 0;}

body {
	max-width: 900px;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 50px auto;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 5px;
}

ul {
	list-style: none; 
    padding-left: 30px;
}

a {
	color: inherit;
}

p {
	text-align: justify;
}